@model MVSschuh.View_Model.ChangePassword
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/LoginStyle.css" rel="stylesheet" />
    <title>ChangePassword</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h1>Change Password</h1>
            </div>
            <form method="post" asp-controller="Account" asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Password"></label><br />
                    <input class="fadeIn second" type="password" placeholder="Password" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="PasswordConfirm"></label><br />
                    <input class="fadeIn third" type="password" placeholder="Repeat password" asp-for="PasswordConfirm" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <div>
                    <input type="submit" value="ChangePassword" />
                </div>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" asp-controller="Home" asp-action="Index">Go to the Site</a>
            </div>

        </div>
    </div>
</body>
</html>
